{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="{{ asset('upload/' ~ app.user.avatar) }}">
                    <span class="font-weight-bold">{{ app.user.name }}</span>
                    <span class="text-black-50">{{ app.user.email }}</span>
                    <span> </span>
                    </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Мой профиль</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Имя</label><input type="text" class="form-control" placeholder="name" value="{{ app.user.name }}"></div>
                        <div class="col-md-6">
                            <label class="label"></label>Пол
                                <select class="form-select" aria-label="genderData" id="selectGender">
                                    <option value="nothing">Не выбрано</option>
                                    <option selected value="rating">Муж</option>
                                    <option value="visit">Жен</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Эл. почта</label><input type="text" class="form-control" placeholder="email@example.com" value="{{ app.user.email }}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="formFile" class="form-label">Аватар</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                    </div>
                    <div class="mt-3 text-center"><button class="btn btn-primary profile-button" type="button">Сохранить</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Добавление магазина</span>
                        <a type="button" class="btn btn-warning" href="#">Заявка</a>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <h5 class="text-right">Смена пароля</h5>
                        <label class="labels">Текущий пароль</label>
                        <input type="text" class="form-control" placeholder="Текущий пароль" value="">
                        <label class="labels mt-2">Новый пароль</label>
                        <input type="text" class="form-control" placeholder="Новый пароль" value="">
                        <label class="labels mt-2">Повторите пароль</label>
                        <input type="text" class="form-control" placeholder="Повторите пароль" value="">
                    </div>
                    <div class="mt-3 text-center"><button class="btn btn-warning profile-button" type="button">Сохранить</button></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-right">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <h2 class="py-3 text-center font-bold font-up success-text">Заявки</h2>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Магазин</th>
                                    <th>ФИО</th>
                                    <th>URL магазина</th>
                                    <th>Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-success">
                                    <td>Market</td>
                                    <td>Чаплыгин Иван Сергеевич</td>
                                    <td>https://Market.ru</td>
                                    <td>Принята</td>
                                </tr>
                                <tr>
                                    <td>ShopHouse</td>
                                    <td>Чаплыгин Иван Сергеевич</td>
                                    <td>http://MarketHouse.ru</td>
                                    <td>Отправлена</td>
                                </tr>
                                <tr class="table-warning">
                                    <td>RusClothes</td>
                                    <td>Чаплыгин Иван Сергеевич</td>
                                    <td>http://ruClothes.ru</td>
                                    <td>На рассмотрении</td>
                                </tr>
                                <tr class="table-danger">
                                    <td>MarketMarket</td>
                                    <td>Чаплыгин Иван Сергеевич</td>
                                    <td>http://</td>
                                    <td>Отклонена</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 border-right">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <h2 class="py-3 text-center font-bold font-up success-text">Источники</h2>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Магазин</th>
                                    <th>URL файла</th>
                                    <th>Статус</th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-success">
                                    <td>Market</td>
                                    <td>https://Market.ru/xmlget</td>
                                    <td>Обработана</td>
                                    <td>
                                        <button class="btn btn-info profile-button" type="button">Изменить ссылку</button>
                                    </td>
                                </tr>
                                <tr class="table-warning">
                                    <td>ShopHouse</td>
                                    <td>http://MarketHouse.ru/xml</td>
                                    <td>В очереди</td>
                                    <td>
                                        <button class="btn btn-info profile-button" type="button">Изменить ссылку</button>
                                    </td>
                                </tr>
                                <tr class="table-danger">
                                    <td>RusClothes</td>
                                    <td>http://RusClothes/xml/current/get</td>
                                    <td>Ошибка при обработке</td>
                                    <td>
                                        <button class="btn btn-info profile-button" type="button">Изменить ссылку</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MarketMarket</td>
                                    <td></td>
                                    <td>Нет источника</td>
                                    <td>
                                        <button class="btn btn-info profile-button" type="button">Изменить ссылку</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    </div>
    </div>
{% endblock %}
