{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% if pagination is not empty %}
            <div class="d-flex flex-column p-2">
                {% for product in pagination %}
                    <div class="card mb-3" style="max-width: 840px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div id="carousel{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        {% for key in images[product.id]|keys %}
                                            {% if key==0 %}
                                                <button type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide-to="{{ key }}" class="active" aria-current="true" aria-label="Slide {{ key }}"></button>
                                            {% else %}
                                                <button type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide-to="{{ key }}" aria-label="Slide {{ key }}"></button>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="carousel-inner">
                                        {% for info in images[product.id] %}
                                            {% if loop.first %}
                                                <div class="carousel-item active">
                                                    <a href="{{ path('app_product_show', {'id': product.id}) }}"><img src="{{ asset('upload/pictures/' ~ info.image[0]) }}" class="img-fluid rounded-start" alt="..."></a>
                                                </div>
                                            {% else %}
                                                <div class="carousel-item">
                                                    <a href="{{ path('app_product_show', {'id': product.id}) }}"><img src="{{ asset('upload/pictures/' ~ info.image[0]) }}" class="img-fluid rounded-start" alt="..."></a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product.id }}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a  class="text-decoration-none" href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a></h5>
                                    {% for key in product.parameter|keys %}
                                        <p class="card-text">{{ key }}: {{ product.parameter[key] }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div >
                <p class="text-center text-warning">Товары не найдены!</p>
            </div>
        {% endif %}
    </div>
    <div class="text-center d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
